@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.Beats-logo{
    padding: 10px 0px 0px 100px;
}

.hero{
  display: flex;
 
    padding-left: 100px;
}

.navbar{
    display: inline;
    color: white;
}

 ul {
    display: flex;
    align-items: center;
    /* padding-left: 400px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul > img{
    padding-right: 600px;
  }
  
   ul > li  {
    margin-left: 50px;
  }
  
   ul li a {
    text-decoration: none;
    color: #f0e8e8; 
    font-weight: bold;
    font-size: 15px; 
  }
  
   ul>li a:hover {
    color: rgb(122, 118, 118); 
  }

  #headset{
    height: 509px;
    padding-left: 100px;
  }

  
 li > button{
  padding-right: 20px;

}
 #shop-button{
  font-weight: bold;
  font-size: 15px;  
  padding: 4px 20px 4px 20px;
  color: rgb(187, 176, 176);
  background-color: rgb(52, 44, 44);
  border: 0;
  border-radius: 3px;
 }
 #shop-button:hover{
  color: black;
  background-color: rgb(163, 205, 28); 
 }

 #onEar{
  padding: 50px 0px 0px 400px;
 }

.text-card > button {
  color: white;
  font-weight: bold;
  font-size: 15px;  
  width: 200px;
 height: 40px;
  color: rgb(187, 176, 176);
  background-color: rgb(21, 19, 19);
  border: 0;
  border-radius: 3px;
}
.text-card > button:hover{
  color: black;
  background-color: rgb(163, 205, 28); 
}
  .social-logo{
  display: flex;
  justify-content: center;  
}
.social-logo{
  padding-right: 400px;
}
.social-logo > img{
  padding-top: 200px;
  padding-right: 100px; 
}
.text-card{
  margin: 10px;
}
.text-card >h1{
  padding-left: 100px;
}
.text-card >h5{
  padding-top: 10px;
  padding-left: 100px;
}
.text-card >p{
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 650px;
}
#bag-button{
  margin: 40px 0px 0px 150px;
}

.title-logo {
  margin: 70px 0;
}

.title-logo img {
  position: relative;
  left: 45%;
}

.product-features {
  position: relative;
  bottom: 35px;
}

.product-descrip{
  padding: 25px;
  color: white;
}

.beat-specs-specification {
  display: flex;
  justify-content: space-evenly;
}

div#connect-dis {
  position: relative;
  left: 30px;
}

div#mic-dis{
  position: relative;
  left: 30px;
}

#connection, #battery, #charge, #micro{
  font-weight: 800;
}

/* Mobile view point */

@media (max-width: 750px){
  .specs-section{
    position: relative;
  }
  .beat-specs-specification{
    display: flex;
    flex-direction: column-reverse;
  }
}



