@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: rgb(15, 15, 16, 1);
  overflow-x: hidden;
}

.hero {
  display: flex;
 width: 100%;
 height: 100vh;
 justify-content: center;
 align-items: center;
 

}

.hero-container{
  display: flex;
  width: 80%;
  height:100%;

  
}
ul  li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem 8rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
}


.navbar ul > li a:hover {
  
  color: rgb(122, 118, 118);
}

/* #headset {
  height: 509px;
  padding-left: 100px;
} */

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: rgb(128, 118, 118);
}

.style-section {
  margin: 50px;
  text-align: center;
}

.headphones-list {
  padding: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 120px;
  margin-top: 30px;
  margin: 0px 8%;
}

.headphone-card {
  background-color: rgb(30 30 33);
  width: 300px;
  height: 340px;
}

.headphone-card img {
  width: 200px;
  position: relative;
  top: -20px;
}
.style-section h2 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 600;
  font-style: normal;
  color: rgb(102, 100, 100);
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headphone-name {
  margin: 0px 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.Addtocart-button {
  padding: 15px;
}

.Addtocart-button button {
  padding: 4px 24px;
  background-color: rgb(15, 15, 16, 1);
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.Addtocart-button ion-icon {
  font-size: 20px;
  color: white;
}

.Addtocart-button button:hover {
  box-shadow: 0px 0px 15px grey;
}

#headset {
  height: 509px;
  padding-left: 100px;
}


#shop-button {
  font-weight: bold;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(187, 176, 176);
  background-color: rgb(52, 44, 44);
  border: 0;
  border-radius: 5px;
  transition: all 0.6s ease;
}
#shop-button:hover {
  color: black;
  background-color: rgb(163, 205, 28);
}

#onEar {
  padding: 50px 0px 0px 400px;
}

.text-card > button {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: rgb(187, 176, 176);
  background-color: rgb(67, 65, 65);
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.text-card > button:hover {
  color: black;
  background-color: rgb(84, 83, 83);
}
.social-logo {
  display: flex;
  justify-content: center;
}
.social-logo {
  padding-right: 400px;
}
.social-logo > img {
  padding-top: 200px;
  padding-right: 100px;
}
.text-card {
  margin: 10px;
  color: white;
}
.text-card > h1 {
  padding-left: 100px;
}
.text-card > h5 {
  padding-top: 10px;
  padding-left: 100px;
}
.text-card > p {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 650px;
}
#bag-button {
  margin: 40px 0px 0px 150px;
}

.title-logo {
  margin: 70px 0;
}

.title-logo img {
  position: relative;
  left: 45%;
}

.product-features {
  position: relative;
  bottom: 35px;
}

.product-descrip {
  padding: 25px;
  color: white;
}

.beat-specs-specification {
  display: flex;
  justify-content: space-evenly;
}

div#connect-dis {
  position: relative;
  left: 30px;
}

div#mic-dis {
  position: relative;
  left: 30px;
}

#connection,
#battery,
#charge,
#micro {
  font-weight: 800;
}

/* Yuvrajs code start here */

.case {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.case-title {
  text-align: center;
}

.more-info-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  

}


.case-img-info {
  display: flex;
  justify-content: center;
  background-color:red;
  
}

.case-img {
  padding: 0px 100px;
}

.case-img img {
  width: 200px;
  height: auto;
}

.case-info p {
  padding-top: 100px;
  padding-bottom: 28px;
  color: grey;
  padding-right: 1px;
}

.btn-grey {
  background-color: #161414 !important;
}

.buynow-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 20, 20);
  width: 1000px;
  min-width: 500px;
  padding: 4.5rem 6rem;
  border-radius :20px;
  
}

.headphones-info h2 {
  font-size: 40px;
  padding-bottom: 10px;
}

.headphones-info span {
  color: grey;
}

.btn-black {
  background-color: black;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

}


/*Yuvrajs code ends here   */

/* Mobile view point */

@media (max-width: 750px) {
  .specs-section {
    position: relative;
  }
  .beat-specs-specification {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* // tablet  */
@media only screen and (min-width: 768px) {
  /* Styles here */
}
/* // smartphone  */
@media only screen and (min-width: 768px) {
  /* Styles here */
}
